* {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

.home {
    
    margin-top: 0%;
    margin-bottom: 3%;
    text-align: center;
}

#title {
    margin-top: 0%;
    font-weight: bold;  
    font-size: 60px;
    background-color: #cccccc;
    padding: 4%;
    
}

#subtitle {
    margin-top: 5%;
    
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px; /* spacing between buttons */
    margin-top: 30px;
}

form {
    margin-left: 1%;
}

.underText {
    text-align: center;
    background-color: #f5f5f5;
    margin-top: 5%;
}